{% extends 'users/base.html' %} {% block content %}

<!-- Header Image and Title -->
<div
  class="container-fluid d-flex"
  style="
    background: transparent
      url('https://media4.s-nbcnews.com/j/newscms/2018_48/2660041/181127-gender-reveal-explosion-mn-0750_c7fb073af77fb7146290d89b04cc6f7b.nbcnews-fp-1200-630.jpg');
    background-position: center;
    width: 100%;
    height: 50vh;
    display: flex;
  "
>
  <div style="margin: auto">
    <h1 class="text-white">Host a Gender Reveal Party</h1>
    <h1><mark>Without Causing a Wildfire</mark></h1>
  </div>
</div>

<!-- Hosting or Attending -->
<div class="container">
  <div class="row">
    <div class="col-sm d-flex justify-content-center">
      <button type="button" class="btn-lg btn-light">It's a boy!</button>
    </div>
    <div class="col-sm d-flex justify-content-center">
      <button type="button" class="btn-lg btn-light">It's a girl!</button>
    </div>
  </div>
</div>

{% endblock content %}
